# copy this file as .env and describe your settings.
COMPOSE_PROFILES=dev
GIT_USERNAME=
GIT_EMAIL_ADDRESS=

# DUMMY_SERVER=http://localhost:8080
DUMMY_SERVER=http://localhost:4010/0.1
DUMMY_SERVER2=http://localhost:4010/0.1
SERVER_PORT=3000
API_VERSION=0.1
NODE_ENV=develop
API_RETRIES=3
API_BACKOFF=500

# JPエンドポイント
DIAMETER_SERVICE_JP="https://684kw4o272-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"
SALESORDER_SERVICE_JP="https://d01od590ti-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"
OMS_SERVICE_JP="https://r17nwdgso2-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com"
WARRANTY_SERVICE_JP="https://fqxwpa5yxe-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"
CART_SERVICE_JP="https://ysd3gwlu1d-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"
CATALOG_SERVICE_JP="https://mufbqz6hv2-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"
LOCATION_SERVICE_JP="https://2qs2y5c26b-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"
INVENTORY_DATA_SERVICE_JP="https://3c6uhb4v97-vpce-0e61940b5e477d371.execute-api.ap-northeast-1.amazonaws.com/v1"
STAFF_SERVICE_JP="https://10rqpbd9ma-vpce-0e61940b5e477d371.execute-api.ap-northeast-1.amazonaws.com/v1"
PRICE_SERVICE_JP="https://puflk1ydqa-vpce-0935b5ed2fea5d1e5.execute-api.ap-northeast-1.amazonaws.com/v1"

# USエンドポイント
DIAMETER_SERVICE_US="https://1eqcxw8c3a-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"
SALESORDER_SERVICE_US="https://op1p6hwlm1-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"
OMS_SERVICE_US="https://u02gpwp12m-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com"
WARRANTY_SERVICE_US="https://g2ddkntri9-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"
CART_SERVICE_US="https://0r7jcf9ula-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"
CATALOG_SERVICE_US="https://brtfxdcvtb-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"
LOCATION_SERVICE_US="https://8oxvkbw5ni-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"
INVENTORY_DATA_SERVICE_US="https://zs2a708km5-vpce-0be9d4bdb4502a7fe.execute-api.us-west-2.amazonaws.com/v1"
STAFF_SERVICE_US="https://5cc0n6co9h-vpce-0be9d4bdb4502a7fe.execute-api.us-west-2.amazonaws.com/v1"
PRICE_SERVICE_US="https://ofb405ce93-vpce-0973bd42a615d06ac.execute-api.us-west-2.amazonaws.com/v1"

# BFFValidatorエンドポイント
BFF_VALIDATOR="http://debug.bff-validator.dev.api.us-west.store-orders-app-bff.jins.com/api/validator"